In [1]:
#1.print a number from 1 to  using while loops
number = 1

while number <= 5:
    print(number)
    number += 1

1
2
3
4
5

In [2]:
#2.Calculate the sum of numbers from 1 to 10 using a while loop.
total_sum = 0
number = 1

while number <= 10:
    total_sum += number
    number += 1

print("The sum of numbers from 1 to 10 is:", total_sum)

The sum of numbers from 1 to 10 is: 55

In [3]:
#3. Calculate the factorial of a number using a for loop.
# Function to calculate factorial
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Example usage
number = 5  # You can change this number
print(f"The factorial of {number} is: {factorial(number)}")

The factorial of 5 is: 120

In [4]:
#4.Count the number of vowels in a string using a for loop.
# Function to count vowels in a string
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

# Example usage
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print(f"The number of vowels in the string is: {vowel_count}")

The number of vowels in the string is: 3

In [5]:
#5.Print a pattern using nested loops.
# Number of rows for the pattern
rows = 5

# Nested loops to print the pattern
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()  # Move to the next line after each row

*
* *
* * *
* * * *
* * * * *

In [6]:
#6.Generate a multiplication table using nested loops.
# Define the size of the multiplication table
size = 10

# Nested loops to generate the multiplication table
for i in range(1, size + 1):
    for j in range(1, size + 1):
        print(f"{i * j:4}", end=" ")  # Print the product, formatted for alignment
    print()  # Move to the next line after each row

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100