In [6]:
#1.calculate the sum and prouct and quitont between 2 numbers 
a=90
b=45
# for finding sum 
a+b
#for finding product 
a*b
#for finding quitont 
a//b

1

In [3]:
a+b

135

In [4]:
a*b

4050

In [7]:
a//b

2

In [12]:
#question 2:compare various operations on the assignment variables
b=9
b
#these operator is used to assign the variable

9

In [13]:
b+=7
b
#these operator is use to add the value to the variable

16

In [14]:
b-=8
b
#these operator is used to subsctract the value from the variable

8

In [15]:
b*=3
b
#these operator is used to multiply the value in the variabes

24

In [16]:
b/=2
b
#these operator is use to divide the value in the variable

12.0

In [19]:
b%=3
b
#these is modulus operator

0.0

In [20]:
b**=5
b
#these is exponential operator

0.0

In [21]:
#question 3:
#compare two number and print the number 
a=3
b=3
a==b
#here both the value of the variable are same ,so it wll give the output true other wise it will retur false as an output

True

In [23]:
#question 4:
#check condition using logical operator 
x=9
y=19
x>6 and y>9
#here if the both condition are true it wil return the output as true ekse if there is one value wrong it will give an output as a false
#these operator is known as and operator

True

In [ ]:
x=78
y=9
x>8 or y<899
#here only the one condition satisfied an its an or operater so the output is true

In [24]:
#not operator 
n=8
h=90
not(h>888) and n>5

True

In [32]:
#question:5 
#check the identity variable 
a=89
b=90
id(a)==id(b)

False

In [34]:
#if the values are same of the both variable then it will give an output as true 
y=90
j=90
id(y)==id(j)

True

In [35]:
#question 6: 
#perform bitwise operator on any two variables 
a=78
b=89
a<<b
#these is right bitwise operator

48279661532129830721065844736

In [36]:
a>>b
#these is left bit wise operator

0

In [39]:
#question 7:
#use urinary operator to change the sign of the number 
a=90
b=900
c=-5
print("unary plus:",-c)

unary plus: 5

In [41]:
a=90
b=89
c=-7
print("unary minus:",+c)

unary minus: -7

In [54]:
#question 8 
#use ternary operator to assign value based on the condition 
a=10
b=20
h= ("a is greater " if a>b else "b is greater ")
h

'b is greater '